<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>388337201819-jbh1afee1ff1v4onaksdushq1rbnqnh1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388337201819-jbh1afee1ff1v4onaksdushq1rbnqnh1</string>
	<key>API_KEY</key>
	<string>AIzaSyDLrgBL38kJ9Q3T1OpfctLwKAr2vCdpBgU</string>
	<key>GCM_SENDER_ID</key>
	<string>388337201819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mineachem.FirebaseSample</string>
	<key>PROJECT_ID</key>
	<string>fir-projectsample</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-projectsample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:388337201819:ios:bc41ed0eb04c98fa</string>
	<key>DATABASE_URL</key>
	<string>https://fir-projectsample.firebaseio.com</string>
</dict>
</plist>